PORT=3000

# Configurações do Banco de Dados
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=sua_senha_aqui
DB_NAME=controle_financeiro
DB_DIALECT=mysql

# Chave secreta para assinatura do JWT
JWT_SECRET=super_secret_key_12345
JWT_EXPIRES_IN=1d
